.no-logo{
    display: block;
    width: 64px;
    height: 64px; 
    border-radius: 50%; 
    background-image: url(../img/no-company.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.rating-box{
    text-align: center;
}
.rating-box__rating-element{
    position: relative;
    top: -61px;
    background: #fff;
    border-radius: 22px;
    line-height: 36px;
    padding: 5px 34px;
    color: #333b3f;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}
.rating-box__rating-element:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 18px;
    background: url(../img/star.svg) no-repeat;
    margin-top: -4px;
    margin-right: -1px;
    position: relative;
    left: -7px;
}
.rating-box__rating-element__text_orange{
    padding-right: 10px;
    color: #F49135;
}
.rating-box__rating-element__text_orange .sbold{
    position: relative;
    left: 4px;
}
.rating-box__rating-element__text_bold{
    font-weight: bold;
}

//страница с картами
.company-list .gray_bg .tab-disp  .tab-item{
    padding-bottom: 104px;
}
.company-list .gray_bg .contetn-box.row{
    display: block;
    z-index: 20;
    margin-bottom: 100px;
}
.company-list .gray_bg .contetn-box.row .block{
    max-width: 360px;
    width: 100%;
    margin-bottom: 20px;
} 
.company-list .gray_bg .tab-disp .contetn-box.row .block3{
    margin-bottom: 0;
}
.map-box_show{
    display: block;
}
#map{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.46);
}
.tab-item-wrap{
    width: 100%;
    position: absolute;
    left: 999999999em;
    right: 999999999em;
    
}
.tab-item-wrap_show{ 
    position: relative;
    top: 0; left: 0;
}  

.company-list .filter-container{
    display: none;
    margin-bottom: 70px; 
}
.company-list .filter-container .filret{
    margin-top: 0;
}
.empty-page .gray_bg .row{
    padding-bottom: 213px;
} 
.monkey-work:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(243,243,243,1) 65%);
}
.gm-bundled-control-on-bottom{
    right: 0;
    left: 40px; 
}
.gm-bundled-control-on-bottom .gmnoprint{
    position: absolute;
    left: 0px;
    top: -20px !important;

}
.hover-marker:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
}