@import 'global';
@import 's-style';
@import 'slick';
@import 'nice-selects';
@import 'arctic-modal-style';
@import 'filter';
@import 'company-list-empty';
@import 'comments'; 
@import 'join-site'; 
@import 'main';  
@import 'log-reg';  

.btn{
    display: block;
    box-sizing: border-box;
    padding: 0px 15px;
    border: 1px solid #F49135; 
    border-radius: 18px;
    color: #F49135;
    font-size: 16px;
    line-height: 36px;
    transition: color 0.3s;
    transition: background 0.3s;
    background: #fff;
    cursor: pointer;
} 
.btn:hover{
    background: #F49135;
    color: #fff;
}
.reg-user-block{ 
    width: 218px;
    font-size: 0;
    text-align: right;
}
.reg-user-block__avatar{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/no-people.png);
    border-radius: 50%;
    position: relative;
    top: -4px;
    right: 0px;
} 
.padding-top-none{ 
    padding-top: 0 !important;
}